/** Stylus Styles */
@import './theme'

@import '../../node_modules/vuetify/src/stylus/app'

.pagecaption {
	font-family: 'Taviraj', serif;
	font-weight:600;
	font-style: italic;
	color: white;
	padding: 0px;
	margin: 0px;
}

.layer {
		background-color: rgba(0, 50, 99, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
}

a {
  text-decoration: none!important;
}

body {
  font-family: 'Montserrat';
}
